
*.class

.DS_Store

*.apk

bin/classes.dex

bin/dexedLibs/android-support-v4-c10453b1ffea8a3cf0bd4f1ea7fef9d6.jar

bin/resources.ap_

bin/Milestone.apk

bin/dexedLibs/android-support-v4-c5b2dc310395b56c7d0a5ad0fdffc8a1.jar

*.class
